<countdown class="timer"   #countdown [config]="{leftTime:300, demand:true}"></countdown>
  <div class="button-group">
  <br>
  <button type="button" class="btn btn-success" (click)="countdown.begin();start()" [disabled]="!isStart">Start</button>
  <button type="button" class="btn btn-primary" (click)="countdown.pause();pause()" [disabled]="!isPause">Pause</button>
  <button type="button" class="btn btn-warning" (click)="countdown.resume();resume()" [disabled]="!isResume">Resume</button>
  <button type="button" class="btn btn-danger" (click)="countdown.restart(); reset()">Reset</button>
</div>